.root {
    padding: 2rem;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 100vh;
    max-width: 500px;
    margin: 0 auto;
}
.buttons {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}